email1.json

{
  "nodes": [
    {
      "parameters": {
        "downloadAttachments": true,
        "options": {
          "trackLastMessageId": true
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "106ef5ca-5b36-4822-b4dc-32ac4fa506be",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "osp66eWj7FU64TYF",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Вход: items от IMAP Email Trigger\n// Выход: только нужные поля: from, date, subject, textPlain\n\nconst out = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  // Отправитель\n  const from = data.from || \"\";\n\n  // Дата\n  const date = data.date || \"\";\n\n  // Тема\n  const subject = data.subject || \"\";\n\n  // Тело письма (plain text)\n  const textPlain = data.textPlain || \"\";\n\n  out.push({\n    json: {\n      from,\n      date,\n      subject,\n      textPlain\n    }\n  });\n}\n\nreturn [\n  {\n    json: {\n      messageId: $json.messageId || $json.uid || \"\",\n      from: $json.from,\n      date: $json.date,\n      subject: $json.subject,\n      textPlain: $json.textPlain\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "ee96cd34-166d-4e7a-ab82-0bd8590bc302",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==Ты — интеллектуальная система обработки клиентских писем компании Казахтелеком.  \nТвоя задача — полностью проанализировать письмо клиента и сформировать детальную структурированную информацию для операторов и автоматической обработки.\n\nПроанализируй письмо и выполни ВСЕ нижеуказанные задачи, не пропуская ни одной:\n\n────────────────────────────────────────\n🔹 Часть 1. Классификация письма\n────────────────────────────────────────\n1. Определи, в какой отдел компании нужно направить письмо  \n   (например: \"Техническая поддержка\", \"Биллинг\", \"Продажи\", \"Служба качества\" и т.д.).\n\n2. Определи категорию запроса  \n   (например: \"Инцидент\", \"Запрос информации\", \"Жалоба\", \"Подключение услуги\", \"Предложение\").\n\n3. Определи приоритет обработки  \n   (\"Низкий\", \"Средний\", \"Высокий\", \"Критический\").\n\n4. Определи тип проблемы  \n   (\"Техническая\", \"Финансовая\", \"Организационная\", \"Информационная\").\n\n5. Дай краткое объяснение своих выводов в поле reasoning.\n\n────────────────────────────────────────\n🔹 Часть 2. Определение языка и подготовка ответа\n────────────────────────────────────────\n6. Определи язык письма (например: \"ru\", \"kk\", \"en\") и запиши в поле language.\n\n7. Сформируй короткий стандартный ответ в этом же языке  \n   (например: \"Ваш запрос принят, пожалуйста ожидайте.\" / \"Сіздің өтінішіңіз қабылданды, күте тұрыңыз\") и запиши в поле shortReply.\n\n8. Сформируй полный ответ в том же языке, который:\n   - учитывает содержание письма,\n   - предполагает возможное решение,\n   - даёт вежливый профессиональный ответ,\n   - запиши его в поле fullReply.\n\n────────────────────────────────────────\n📨 Данные письма\n────────────────────────────────────────\nОбязательно включи в итоговый JSON все исходные данные письма, чтобы они были доступны для базы данных:\n\n- from: {{ $json.from }}\n- date: {{ $json.date }}\n- subject: {{ $json.subject }}\n- textPlain: {{ $json.textPlain }}\n\n────────────────────────────────────────\n📦 ВАЖНО: выведи результат строго в формате JSON:\n────────────────────────────────────────\n{\n  \"from\": \"...\",         // Отправитель письма\n  \"date\": \"...\",         // Дата письма\n  \"subject\": \"...\",      // Тема письма\n  \"textPlain\": \"...\",    // Текст письма\n  \"department\": \"...\",\n  \"category\": \"...\",\n  \"priority\": \"...\",\n  \"problemType\": \"...\",\n  \"reasoning\": \"...\",\n  \"language\": \"...\",\n  \"shortReply\": \"...\",\n  \"fullReply\": \"...\"\n}\n\n⚠️ Обязательно:\n- JSON должен быть **валидным**, без лишних символов, без Markdown (не обрамлять ```json ```).  \n- Не пропускай ни одно поле.  \n- Все значения должны быть заполнены либо реальными данными, либо пустой строкой \"\" если информации нет.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        512,
        0
      ],
      "id": "eac0e4bb-c90e-4cb5-90a2-20385a7d4d82",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        512,
        240
      ],
      "id": "c0ef348b-3d9e-4649-9a4c-b9f8e58e6aa7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R8YelDFoyot4BzjW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "client_requests",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2000,
        16
      ],
      "id": "760e09df-2370-4b24-8f9b-d1dab41d8257",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "pau2IiNEgBjZRfSG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let text = $json.text;\n\n// Удаляем оформление ```json ... ```\ntext = text\n  .replace(/```json/gi, '')\n  .replace(/```/g, '')\n  .trim();\n\nreturn JSON.parse(text);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        0
      ],
      "id": "c4cc93d9-beaf-45b4-808e-a4766c791911",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Результат LLM (очищенный JSON)\nlet llm = $json || {};\n\n// Оригинальные данные письма/сообщения\nlet original = $input.item.json || {};\n\nreturn {\n  // идентификаторы\n  messageId: original.messageId || \"\",\n  chatId: original.chatId || \"\",        // нужно для Telegram\n  from_email: original.from || \"\",      // нужно для Email\n  from_id: original.from_id || \"\",\n  from_language: original.from_language || \"\",\n\n  // исходные данные\n  subject: original.subject || \"\",\n  text_plain: original.textPlain || \"\",\n  date: original.date || \"\",\n  source: original.source || \"telegram\",\n\n  // классификация\n  department: llm.department || \"\",\n  category: llm.category || \"\",\n  priority: llm.priority || \"\",\n  problem_type: llm.problemType || \"\",\n  reasoning: llm.reasoning || \"\",\n  language: llm.language || \"\",\n\n  // ответы\n  short_reply: llm.shortReply || \"\",\n  full_reply: llm.fullReply || \"\"\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        0
      ],
      "id": "87594810-68f0-4c34-9edf-3d5889378408",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "fromEmail": "=djiembaevalnur@gmail.com",
        "toEmail": "={{$json.from_email}}",
        "subject": "={{$json.subject || \"Ответ на ваш запрос\"}}",
        "emailFormat": "text",
        "text": "={{$json.full_reply}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1456,
        -288
      ],
      "id": "f73586bb-b24b-471d-be6a-ad1951a6d093",
      "name": "Send email",
      "webhookId": "ab017ffa-0590-4967-9a6b-a02f9613c549",
      "credentials": {
        "smtp": {
          "id": "lZWp5z6JEMgIX4HU",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Берём данные из Code in JavaScript2\nlet data = $json || {};\n\n// Возвращаем только те поля, которые реально есть в таблице client_requests\nreturn {\n  from_email: data.from_email || \"\",\n  subject: data.subject || \"\",\n  text_plain: data.text_plain || \"\",\n  date: data.date || \"\",\n  source: data.source || \"telegram\",   // или \"email\" в зависимости от флоу\n  department: data.department || \"\",\n  category: data.category || \"\",\n  priority: data.priority || \"\",\n  problem_type: data.problem_type || \"\",\n  reasoning: data.reasoning || \"\",\n  language: data.language || \"\",\n  short_reply: data.short_reply || \"\",\n  full_reply: data.full_reply || \"\"\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        0
      ],
      "id": "4e6def91-97a9-4ed2-9b07-13d136aaac8b",
      "name": "Code in JavaScript3"
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d525cc0fa1f96e1c1660b06ed7ce6e40fc2c0bee579efd3b48af4e9d2ba43b8"
  }
}