tgWorkFlow.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const out = [];\n\nfor (const item of items) {\n  const msg = item.json.message || {};\n\n  const fromObj = msg.from || {};\n  const chatObj = msg.chat || {};\n\n  const from = fromObj.username \n    || `${fromObj.first_name || \"\"} ${fromObj.last_name || \"\"}`.trim();\n\n  const date = msg.date ? new Date(msg.date * 1000).toISOString() : \"\";\n\n  out.push({\n    json: {\n      messageId: msg.message_id || \"\",\n      chatId: chatObj.id || \"\",\n      from,\n      from_id: fromObj.id || \"\",\n      from_language: fromObj.language_code || \"\",\n      subject: \"\", // у телеграма нет темы\n      textPlain: msg.text || \"\",\n      source: \"telegram\"\n    }\n  });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -32
      ],
      "id": "1587e6bd-7f9a-400d-903b-961ff861fa20",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты — интеллектуальная система обработки сообщений клиентов компании Казахтелеком.\nПроанализируй сообщение и выполни следующие задачи:\n\n1. Определи отдел компании (например: \"Техническая поддержка\", \"Биллинг\", \"Продажи\").\n2. Определи категорию запроса (\"Инцидент\", \"Запрос информации\", \"Жалоба\", \"Подключение услуги\", \"Предложение\").\n3. Определи приоритет (\"Низкий\", \"Средний\", \"Высокий\", \"Критический\").\n4. Определи тип проблемы (\"Техническая\", \"Финансовая\", \"Организационная\", \"Информационная\").\n5. Дай краткое объяснение своих выводов в поле reasoning.\n6. Определи язык сообщения (например: \"ru\", \"kk\", \"en\").\n7. Сформируй короткий стандартный ответ в этом же языке (например: \"Ваш запрос принят, пожалуйста ожидайте.\").\n8. Сформируй полный ответ в этом же языке, учитывая содержание сообщения.\n\nИсходные данные:\n- messageId: {{ $json.messageId }}\n- chatId: {{ $json.chatId }}\n- from: {{ $json.from }}\n- from_id: {{ $json.from_id }}\n- from_language: {{ $json.from_language }}\n- date: {{ $json.date }}\n- subject: {{ $json.subject }}\n- textPlain: {{ $json.textPlain }}\n- source: {{ $json.source }}\n\nВыведи результат строго в формате JSON:\n{\n  \"messageId\": \"...\",\n  \"chatId\": \"...\",\n  \"from\": \"...\",\n  \"from_id\": \"...\",\n  \"from_language\": \"...\",\n  \"date\": \"...\",\n  \"subject\": \"...\",\n  \"textPlain\": \"...\",\n  \"source\": \"telegram\",\n  \"department\": \"...\",\n  \"category\": \"...\",\n  \"priority\": \"...\",\n  \"problemType\": \"...\",\n  \"reasoning\": \"...\",\n  \"language\": \"...\",\n  \"shortReply\": \"...\",\n  \"fullReply\": \"...\"\n}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        368,
        -32
      ],
      "id": "65e79171-3478-42ae-ab58-acd231748d86",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        368,
        208
      ],
      "id": "55e51ec6-2e96-41a9-b894-86faa604a327",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R8YelDFoyot4BzjW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "client_requests",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1744,
        -32
      ],
      "id": "fa484afb-9ab9-405a-8514-57f86bb134a0",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "pau2IiNEgBjZRfSG",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let text = $json.text || \"\";\n\n// Удаляем оформление ```json ... ```\ntext = text\n  .replace(/```json/gi, '')\n  .replace(/```/g, '')\n  .trim();\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  parsed = {}; // если парсинг не удался, возвращаем пустой объект\n}\n\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -32
      ],
      "id": "0e38f490-8e2d-4dc8-9d60-38407b77a5fa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "let llm = $json || {};\nlet original = $input.item.json || {};\n\nreturn {\n  messageId: original.messageId || \"\",\n  chatId: original.chatId || \"\",   // ← добавлено, чтобы Telegram видел chatId\n  from_email: original.from || \"\",\n  subject: original.subject || \"\",\n  text_plain: original.textPlain || \"\",\n  date: original.date || \"\",\n  source: \"telegram\",\n  department: llm.department || \"\",\n  category: llm.category || \"\",\n  priority: llm.priority || \"\",\n  problem_type: llm.problemType || \"\",\n  reasoning: llm.reasoning || \"\",\n  language: llm.language || \"\",\n  short_reply: llm.shortReply || \"\",\n  full_reply: llm.fullReply || \"\"\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -32
      ],
      "id": "c1ae1ccc-07df-45d7-b31d-ade8588185af",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        -32
      ],
      "id": "af3178e6-6419-4d45-9d25-9a0e9f3f3406",
      "name": "Telegram Trigger",
      "webhookId": "db400580-38f0-49e9-8422-48bc11ca0e62",
      "credentials": {
        "telegramApi": {
          "id": "NfxQdmu4lR5W3aCC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.full_reply}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        -240
      ],
      "id": "7f7717dd-72bc-4fa8-a31b-f519873bb743",
      "name": "Send a text message",
      "webhookId": "c97da13d-3690-445c-a74e-26634e5e5988",
      "credentials": {
        "telegramApi": {
          "id": "NfxQdmu4lR5W3aCC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let data = $json;\n\nreturn {\n  from_email: data.from_email || \"\",\n  subject: data.subject || \"\",\n  text_plain: data.text_plain || \"\",\n  date: data.date || \"\",\n  source: data.source || \"telegram\",\n  department: data.department || \"\",\n  category: data.category || \"\",\n  priority: data.priority || \"\",\n  problem_type: data.problem_type || \"\",\n  reasoning: data.reasoning || \"\",\n  language: data.language || \"\",\n  short_reply: data.short_reply || \"\",\n  full_reply: data.full_reply || \"\"\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -32
      ],
      "id": "e4628f22-9896-4484-86fe-6cc5bf738bc1",
      "name": "Code in JavaScript3"
    }
  ],
  "connections": {
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "1d525cc0fa1f96e1c1660b06ed7ce6e40fc2c0bee579efd3b48af4e9d2ba43b8"
  }
}